* {
  margin: 0;
  color: rgba(3, 3, 3, 0.808);
  font-family: 'Orbitron', sans-serif;
}

.app{
  background-image: url("https://wallpaperaccess.com/full/31367.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

:root{
  --text-color: #fff;
  --go-btn: rgba(0, 255, 255, 0.555);
  --stop-btn: rgba(255, 0, 0, 0.644);
  --second-color: rgba(255, 255, 255, 0.39);
  --bg-color: rgba(248, 248, 248, 0.712);
}

.link{
  text-decoration: none;
}

.link span{
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: var(--bg-color);
}

.link span:hover{
  color: var(--text-color);
}

.header {
  padding-top: 2rem;
  text-align: center;
  color: var(--text-color);
  font-weight: 900;
}


.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.9rem;
  box-shadow: 0 8px 32px 0 rgb(167, 166, 166);
  border-radius: 15px;
}

.form-input{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-row {
  font-size: 20px;
  padding: 0.2rem;
}

.search-input {
  background-color: var(--bg-color);
  text-align: center;
  border: none;
  padding: 0.5rem;
  border-radius: 15px;
  font-weight: 500;
  font-size: 1.2rem;
  width: 15rem;
}

.number-input{
  background-color: var(--bg-color);
  text-align: center;
  border: none;
  padding: 0.5rem;
  border-radius: 15px;
  font-weight: 500;
  font-size: 1.2rem;
  width: 5rem;
}

::placeholder{
  color: rgba(3, 3, 3, 0.808);
}

select {
  background-color: var(--bg-color);
  text-align: center;
  border: none;
  padding: 0.5rem;
  border-radius: 15px;
  font-weight: 500;
  font-size: 1.2rem;
  width: 12rem;
}

option{
  text-align: center;
  border: none;
  font-weight: 500;
  font-size: 1.2rem;
}

option:hover{
  background-color: black;
  color: var(--text-color);
}

.buttonSearch {
  background-color: var(--second-color);
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color);
  float: right;
}

.buttonSearch:hover{
  background-color: var(--go-btn);
}

.card-col{
  padding: 0.5rem;
 }

.card-item{
  width: auto;
  position: relative;
  padding: 16px;
  width: 200px;
  height: 290px;
  background-color: var(--second-color);
  border-radius: 4px;
  transition: background-color .1s ease;
  transition-timing-function: linear;
}

.card-item:hover{
  background-color: var(--bg-color);
  transform: scale(1.02);
  .card--button-container{
    display: block;
  }
  .card--preview-btn{
    display:block;

  }
}

.card--image-container{
  position: relative;
  width: 100%;
}

.card--image{
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 8px 24px rgba(0,0,0,.5);
}

.card--button-container{
  display: none;
  left: 80%;
  top: 80%;
  color: #181818;
  font-size: 35px;
  background-color: var(--go-btn);
  padding: 0.4rem;
  border-radius: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: display 1s;
  transition-timing-function: linear;
}

.card--button-container:hover{
  font-size: 39px;
}

.card--button{
  float: right;
}


.card--title{
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  padding-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-description-container{
  width: 180px;
}

.card--description{
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: -webkit-line-clamp .3s ease;
  transition-timing-function: linear;
}

.card--preview-btn{
  display: none;
  font-size: 12px;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-weight: 600;
}

.card--preview-btn:hover{
  background-color: var(--go-btn);
}

.close-preview-btn{
  font-size: 12px;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-weight: 600;
}


.preview-content {
  position: fixed;
  bottom: 0;
  right: 0;
}

.preview{
  width: 30%;
  height: 30%;
  border: none;
}

.close-preview-btn{
  font-size: 30px;
  background-color: var(--stop-btn);
  color: var(--text-color);
  border-radius: 15px;
}

.close-preview-btn:hover{
  transform: scale(1.1);
}


/* Favourites */

.sub-heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sub-heading-count{
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: left;
  color: var(--text-color);
}

.clear-button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.2rem;
}

.clear-button{
  background-color: var(--second-color);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
  margin-right: 0.2rem;
}

.clear-button:hover{
  background-color:var(--stop-btn);
}


.favourite{
  width: auto;
  position: relative;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  background-color: var(--second-color);
  border-radius: 4px;
  transition: background-color .09s, padding .09s ease;
  transition-timing-function: linear;
}

.favourite:hover{
  background-color: var(--bg-color);
  transform: scale(1.04);
  .favourite--button-container{
    display: block;
  }
}

.favourite--image{
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 8px 24px rgba(0,0,0,.5);
  float: right;
}

.favourite--image-container{
  position: relative;
  width: 100%;
}

.favourite--title{
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  padding-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1;
  -webkit-box-orient: vertical;
}

.favourite-description-container{
  width: 80%;
}

.favourite--description{
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: -webkit-line-clamp .3s ease;
  transition-timing-function: linear;
}

.favourite--button-container{
  display: none;
  float: right;
  padding-top: 0.3rem;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.favourite--button{
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-weight: 600;
}

.favourite--button:hover{
  font-size: 17px;
  color: var(--stop-btn);
}


